.mainHeader{
    width: 84%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
}

.navItems{
    display: flex;
    column-gap: 50px;
    margin-right: 80px;
}