.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 30px;
}

.topList{
    list-style: none;
    padding: 0;
}

.mainSection{
    width: 100%;
}

.userContent{
    text-align: left;
    width: 50%;
}

.rating{
    color: #3954FF;
    background-color: rgba(57, 84, 255, 0.06);
    padding:5px 10px;
    border-radius: 5px;
}


.userContent h4, .userContent p{
margin: 0;
text-align: left;
}